<mat-card>
    <div class="content">
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="mustDisplayAssoName">{{article.category}}</mat-card-subtitle>
        <p>{{article.content}}</p>
        <img *ngIf="article.downloadableImageUrl !== '' && article.downloadableImageUrl !== undefined "
             [src]="article.downloadableImageUrl">
    </div>
    <div class="actions">
        <div class="soc" (click)="displayOrHideComments()">
            <mat-icon class="comment active" *ngIf="!hideComments">chat_bubble</mat-icon>
            <mat-icon class="active" *ngIf="hideComments">chat_bubble_outlined
            </mat-icon>
            <p class="amount">{{article.commentsCount}}</p>
        </div>

        <div class="soc">
            <mat-icon class="clap" *ngIf="hasBeenClap" svgIcon="clap"></mat-icon>
            <mat-icon class="active" (click)="clapArticle()" *ngIf="!hasBeenClap" svgIcon="clap_outlined"></mat-icon>
            <p class="amount">{{article.clap.size}}</p>
        </div>

        <div class="soc">
            <mat-icon class="favorite" *ngIf="hasBeenFav">favorite</mat-icon>
            <mat-icon class="active" (click)="favArticle()" *ngIf="!hasBeenFav">favorite_border</mat-icon>
            <p class="amount">{{article.favorite.size}}</p>
        </div>
    </div>
    <div class="comments" *ngIf="commentsLoaded && !hideComments">
        <mat-divider></mat-divider>
        <div *ngIf="connectedUser !== null">
            <form>
                <label for="comment">Poster un commentaire</label>
                <div class="writeComment">
                    <mat-form-field>
                        <input matInput name="comment" id="comment" [(ngModel)]="writtenComment"/>
                    </mat-form-field>
                    <button mat-icon-button *ngIf="writtenComment.length > 0">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </div>
        <app-comment *ngFor="let comment of article.getComments()"
                     [comment]="comment"></app-comment>
    </div>
</mat-card>
