<mat-card>
    <form>
        <div class="options">
            <button mat-icon-button class="editButton"
                    *ngIf="connectedUser !== null && connectedUser.canPublishAs.includes(article.category) && !editing && !editable"
                    type=submit
                    (click)="edit()">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button class="editButton"
                    *ngIf="connectedUser !== null && connectedUser.canPublishAs.includes(article.category) && !editing && editable"
                    type=submit
                    (click)="edit()">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button class="editButton"
                    *ngIf="connectedUser !== null && connectedUser.canPublishAs.includes(article.category) && !editing && !editable"
                    type=submit
                    (click)="confirmDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <mat-progress-spinner *ngIf="editing" mode="indeterminate" class="editing"
                              [diameter]="24"></mat-progress-spinner>
        <div class="content">
            <mat-card-title *ngIf="editable === false">{{article.title}}</mat-card-title>
            <mat-card-title *ngIf="editable === true">
                <mat-form-field>
                    <input matInput autocomplete="off" name="title" type="text" [(ngModel)]="article.title">
                </mat-form-field>
            </mat-card-title>
            <mat-card-subtitle *ngIf="mustDisplayAssoName">{{article.category}}</mat-card-subtitle>

            <div *ngIf="editable === false">
                <div class="articleContent" *ngFor="let token of tokens">
                    <p class="articleLine" *ngIf="token.type === 0"> <!-- For lines -->
                        <span *ngFor="let lineToken of token.data" style="display: contents"><!-- For each token of line -->
                            <span style="display: contents" *ngIf="lineToken.type == 1">
                                {{lineToken.data}}
                            </span>
                            <!-- if is text -->
                            <img class="emote" *ngIf="lineToken.type == 2" [src]="lineToken.data"> <!-- if is emote -->
                        </span>
                        <br>
                    </p>
                </div>
            </div>
            <textarea *ngIf="editable === true"
                      autocomplete="off" name="content"
                      placeholder="Contenu"
                      [(ngModel)]="article.content"></textarea>
            <img *ngIf="article.downloadableImageUrl !== '' && article.downloadableImageUrl !== undefined "
                 [src]="article.downloadableImageUrl">
        </div>
    </form>
    <div class="actions">
        <div class="soc" (click)="displayOrHideComments()">
            <mat-icon class="comment active" *ngIf="!hideComments">chat_bubble</mat-icon>
            <mat-icon class="active" *ngIf="hideComments">chat_bubble_outlined
            </mat-icon>
            <p class="amount">{{article.commentsCount}}</p>
        </div>

        <div class="soc">
            <mat-icon class="clap active" *ngIf="hasBeenClap" (click)="unclapArticle()" svgIcon="clap"></mat-icon>
            <mat-icon class="active" (click)="clapArticle()" *ngIf="!hasBeenClap" svgIcon="clap_outlined"></mat-icon>
            <p class="amount">{{article.clap.size}}</p>
        </div>

        <div class="soc">
            <mat-icon class="favorite active" *ngIf="hasBeenFav" (click)="unfavArticle()">favorite</mat-icon>
            <mat-icon class="active" (click)="favArticle()" *ngIf="!hasBeenFav">favorite_border</mat-icon>
            <p class="amount">{{article.favorite.size}}</p>
        </div>
    </div>
    <div class="comments" *ngIf="commentsLoaded && !hideComments">
        <mat-divider></mat-divider>
        <div *ngIf="connectedUser !== null">
            <form>
                <label for="comment">Poster un commentaire</label>
                <div>
                    <form class="writeComment">
                        <mat-form-field>
                            <input matInput autocomplete="off" name="comment" id="comment"
                                   [(ngModel)]="writtenComment"/>
                        </mat-form-field>
                        <button mat-icon-button *ngIf="writtenComment.length > 0" type=submit class="sendComButton"
                                (click)="postComment()">
                            <mat-icon>send</mat-icon>
                        </button>
                    </form>
                </div>
            </form>
        </div>
        <div class="commentsContainer">
            <app-comment *ngFor="let comment of article.getComments()"
                         [comment]="comment"></app-comment>
        </div>
    </div>
</mat-card>
