<div class="form">
    <div class="firstForm">
        <mat-form-field id="title">
            <input matInput name="title" type="text" placeholder="Titre" required autocomplete="off"
                   [(ngModel)]="article.title"/>
            <mat-error>Ce champ doit être renseigné</mat-error>
        </mat-form-field>
        <mat-select *ngIf="user.canPublishAs.length > 1" required placeholder="Publier en tant que"
                    (selectionChange)="article.category = $event.value" id="category">
            <mat-option *ngFor="let publishAs of user.canPublishAs" [value]="publishAs">
                {{publishAs}}
            </mat-option>
        </mat-select>
        <div *ngIf="user.canPublishAs.length === 1">
            <p>{{user.canPublishAs[0]}}</p>
        </div>
    </div>
    <mat-form-field>
            <textarea matInput name="content" type="text" placeholder="Contenu" required
                      [(ngModel)]="article.content"></textarea>
        <mat-error>Ce champ doit être renseigné</mat-error>
    </mat-form-field>
    <app-file-upload *ngIf="imageToDisplay ===''"
                     (uploadedOnURL)="article.imageUrl = $event"
                     (downloadableOn)="imageToDisplay = $event"
                     [subFolder]="'articleImages'"
                     [displayedTitle]="'Ajouter une image'"
                     [expectedType]="'image'"></app-file-upload>
    <img *ngIf="imageToDisplay !== ''" [src]="imageToDisplay">

</div>
<button mat-raised-button color="primary" type="submit">
    Valider
</button>