<div class="presHeader">
    <h1>Associations Étudiantes</h1>
</div>
<div class="pre-intro">
    <h2>Des étudiants engagés</h2>
    <p>
        Le campus de Polytech Nice Sophia et ses habitants sont animés par des étudiants
        motivés tout au long de l'année. Pour être plus efficace et pour que vous vous amusiez encore plus, ils se
        regroupent en différentes associations qui s'organisent avec pour seul but commun&nbsp;:&nbsp;
        <strong>vous&nbsp;divertir</strong>.<br><br>
        Voici les différentes associations dont vous entendrez parler&nbsp;!
        N'hésitez pas à les contacter pour toute idée ou aide à leur fournir.
    </p>
</div>
<div class="intro">
    <div class="statsCampus">
        <div class="statInfo">
            <mat-icon>school</mat-icon>
            <div class="statText">
                <p class="number">+1200</p>
                <p class="unit">étudiants</p>
            </div>
        </div>
    </div>
    <div class="statsAssos">
        <div class="statsAssosInfo">
            <mat-icon>local_bar</mat-icon>
            <p class="eventName">afterworks</p>
        </div>
        <div class="statsAssosInfo">
            <mat-icon class="customMatIcon" svgIcon="hand_holding_heart"></mat-icon>
            <p class="eventName">actions caritatives</p>
        </div>
        <div class="statsAssosInfo">
            <mat-icon>directions_run</mat-icon>
            <p class="eventName">courses</p>
        </div>
        <div class="statsAssosInfo">
            <mat-icon>extension</mat-icon>
            <p class="eventName">jeux</p>
        </div>
    </div>
</div>
<app-asso-presentation [name]="'Bureau des Élèves'"
                       [descriptions]="['']"
                       [contact]="'bde@polytech.unice.fr'"
                       [logo]="'assets/logoAssos/logoBDE.png'"></app-asso-presentation>

<app-asso-presentation [name]="'Bureau des Jeux'"
                       [descriptions]="['Le BDJ est l\'association de Polytech Nice Sophia qui est dédiée à tout type de jeux ! De nombreuses activités ludiques te seront proposées tout au long de l\'année afin de partager de bons moments et apprendre à se connaitre dans un esprit de convivialité. Du laser Quest et du Paintball pour se défouler et affronter ses amis, des Jeux de Rôle pour s\'évader dans un autre monde le temps d\'une soirée, des Karaokés pour montrer ses talents cachés de chanteur... Nous proposons même de quoi se divertir entre deux cours, avec deux baby-foot à disposition dans le foyer des Templiers.',
                          'Tout est accessible à chaque étudiant mais une cotisation de 7€ permet d\'avoir des réductions intéressantes à nos événements, tout en donnant un petit coup de pouce à l\'association !']"
                       [contact]="'bdj@polytech.unice.fr'"
                       [logo]="'assets/logoAssos/logoBDJ.png'"></app-asso-presentation>

<app-asso-presentation [name]="'Bureau du Sport'"
                       [descriptions]="['Le Bureau du Sport (BDS) est le club de Polytech Nice Sophia qui va te faire bouger. Tout au long de l\’année des événements sportifs et des sorties sont organisés alors on compte sur toi pour être motivé et venir participer !',
                          'Enfin, bonne nouvelle, il n\’y a pas de cotisation supplémentaire ! Elle est incluse dans celle du BDE.']"
                       [contact]="'bdh@polytech.unice.fr'"
                       [logo]="'assets/logoAssos/logoBDS.png'"></app-asso-presentation>

<app-asso-presentation [name]="'Bureau des Arts'"
                       [descriptions]="['Du théâtre à la danse en passant par la photographie, le cinéma et la musique ; le Bureau des Arts (BDA) vous offre une large palette d\’activités artistiques. Ces activités dispensées par des élèves dans une ambiance conviviale se déroulent dans l\’enceinte de Polytech. Alors pourquoi aller chercher plus loin une salle de musique ou des cours de danse ?',
                          'Pour avoir accès à tous ces loisirs, il te suffit de faire un don de 5€ (15€ pour accéder à la salle de musique toute l\’année en illimité) à ton BDA préféré.',
                          'Alors n\’hésitez plus et venez-vous perfectionner ou découvrir de nouveaux hobbies. Une séance d\’essai vous est proposée en septembre.',
                          'Et si toutefois ton art n\’est pas représenté, viens nous voir et joins-toi à nous dans cette belle aventure artistique qu\’est le BDA de Polytech Nice Sophia.']"
                       [contact]="''"></app-asso-presentation>

<app-asso-presentation [name]="'Bureau de l\'Humanitaire'"
                       [descriptions]="['Une envie de bonnes actions cette année ? Nous sommes là ! L\’objectif de cette association est simple : faire en sorte de proposer des projets divers et variés qui pourraient avoir un impact positif sur nous, l\’école, la société, l\’environnement, le monde (c\’est beau) ; le tout dans une ambiance décontractée, amicale et sans prétention. Nous proposons des projets tels que des formations de secourisme, des journées don du sang, des actions tournant autour du bien-être animal ou encore sur l\’écologie et le développement durable !',
                           'Alors si tu as envie d\’organiser, de participer ou même de proposer un ou plusieurs projets, nous t\’aiderons à mettre tout cela en place !']"
                       [contact]="'bdh@polytech.unice.fr'"
                       [logo]="'assets/logoAssos/logoBDH.png'"></app-asso-presentation>
<app-asso-presentation [name]="'Bureau du Code'"
                       [descriptions]="['Le Bureau du Code, c\'est celui dont tu entendras parler si tu es en SI ou que tu aimes l\'informatique ! Le Bureau organise des \'\'concours\'\' de code, ainsi que des dojos afin d\'apprendre l\'informatique dans la bonne humeur.',
                          'N\'hesite pas à nous rejoindre si tu es motivé pour organiser quelque chose avec nous !']"
                       [contact]="'bureauducode@gmail.com'"
                       [logo]="'assets/logoAssos/logoBDC.png'"></app-asso-presentation>