<div [ngClass]="user !== null && (user.downloadPhotoUrl !== url || url !== '') ? '': 'hideCard'">
    <mat-card>
        <div style="text-align: end">
            <table style="display: inline-block">
                <tr>
                    <td>
                        <mat-card-title><p style="font-size: 60px;
                         margin-top: 15px;
                         padding-right: 12px;
                         line-height: 58px;">
                            {{user !== null ? user.firstName + ' ' + user.lastName : ''}}</p>
                        </mat-card-title>
                    </td>
                    <td>
                        <div *ngIf="url !== ''" class="imgProfile" [ngStyle]="getUrl()"></div>
                    </td>
                </tr>
            </table>
        </div>


        <div> <!-- Personnal informations -->
            <h2>Informations personnelles</h2>
            <mat-divider></mat-divider>
            <div class="content">
                <mat-form-field>
                    <input matInput type="text" placeholder="Prénom" required
                           [(ngModel)]="firstName" [value]="user !== null ? user.firstName : ''"/>
                    <mat-error>Vous devez entrer une valeur</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Nom" required
                           [(ngModel)]="lastName" [value]="user !== null ? user.lastName : ''"/>
                    <mat-error>Vous devez entrer une valeur</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Mail" required
                           [(ngModel)]="mail" [value]="user !== null ? user.mail : ''"/>
                    <mat-error>Vous devez entrer une valeur</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="changeButton"
                    *ngIf="user !== null && (firstName !== user.firstName
                    || lastName !== user.lastName
                    || mail !== user.mail)"
                    (click)="submitChanges()">Valider
            </button>
        </div>
        <div> <!-- Security -->
            <h2>Sécurité</h2>
            <mat-divider></mat-divider>
            <div class="content">
                <div>
                    <button mat-icon-button id="changePwd">
                        <mat-icon>lock</mat-icon>
                    </button>
                    <label for="changePwd">Changer son mot de passe</label>
                </div>
            </div>
        </div>
        <div> <!-- Social networks -->
            <h2>Réseaux sociaux</h2>
            <mat-divider></mat-divider>
            <div class="content">
                <div class="socialNetworks">
                    <button mat-raised-button color="primary">
                        Lier mon compte Facebook
                    </button>
                    <button mat-raised-button color="primary">
                        Lier mon compte Gmail
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
