.comment {
    margin: auto 8px;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imgProfile {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.mainContent {
    margin-left: 8px;
    flex: 1;
}

.name, .date {
    margin: 0;
}

.name {
    color: #64dd17;
}

.date {
    opacity: 0.8;
}

.content .emote {
    display: inline-block;
    height: 16px;
    margin: 0;
}
